<h1>List A Pet For Adoption</h1>

    <form action="/pets" method="POST">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
        <input type="text" name="pet[name]" placeholder="name"><br>
        <input type="text" name="pet[age]" placeholder="age"><br>
        <input type="text" name="pet[gender]" placeholder="gender"><br>
        <input type="text" name="pet[breed]" placeholder="breed/species"><br>
        <input type="text" name="pet[image_address]" placeholder="image url"><br>
        <input type="text" name="pet[description]" placeholder="short description"><br>
        <input type="submit" name="submit" class="submit">
    </form>

